/*REFER TO THIS LINK FOR CSS ORGANIZATION: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing
*/


/*GENERAL STYLES*/

body {
	line-height: 1.25;
}


img, embed, object, video {
	max-width: 100%;
}


/*SITEWIDE*/

#wrapper {
	margin: 8px;
	padding: 16px;
}


	/*HEADER CSS*/

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#branding_and_navigation, .contact-information {
	width: 100%;
}

#logo {
	font-size: 1.75rem;
	font-weight: 400;
}

.header-label {
	font-size: 16px;
}

a {
	color: #050505;
	text-decoration: none;
}

.contact-information a {
	text-decoration: underline;
}

.contact-information {
	margin-left: auto;
}

h1 {
	font-family: 'Georgia', 'Times', serif;
}

span, .header-label {
	font-weight: 600;
}


	/*CONTENT CSS*/

.content-section {
	display: flex;
	flex-wrap: wrap;
}

/*CSS FOR SPECIFIC THINGS*/
