/*GENERAL STYLES*/

img, embed, object, video {
	max-width: 100%;
}

body {
	background: white;
    font-family: Open Sans,helvetica,verdana,sans-serif;
	line-height: 1.25;
}

#wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 12px 0 12px;
	padding: 48px 0 24px 0;
}

.header, .content {
	width: 100%;
}



.category-title {
	font-size: 24px;
	margin: 0px 0px 24px 0px;
}



/*HEADER CSS*/

h1 {
	font-family: 'Georgia', 'Times', serif;
}

#logo {
	font-size: 32px;
	font-weight: 400;
}

.header-label {
	font-size: 16px;
}

a {
	color: #050505;
	text-decoration: none;
}

.contact-information a {
	text-decoration: underline;
}

.contact-information {
	margin-bottom: 24px;
}





/*CONTENT*/

#content {
	display: flex;
	flex-wrap: wrap;
}

.content-section {
	width: 100%;
	margin: 0 0 24px 0;
}

.content-date {
	font-family: 'Lato', sans-serif;
	margin: 16px 0 8px 0;
}

span, .content-title {
	font-weight: 600;
	margin-bottom: 4px;
}

.content-subtitle {
	font-weight: 600;
	margin: 4px 0 4px 0;
}



/* MEDIQ QUERIES */

@media screen and (min-width: 320px) {

}
