/*GENERAL STYLES*/

img, embed, object, video {
	max-width: 100%;
}

body {
	background: white;
    font-family: Open Sans,helvetica,verdana,sans-serif;
	line-height: 1.25;
}

#wrapper {
	display: flex;
	flex-wrap: wrap;
}

.header, .content {
	width: 100%;
}

.category-title {
	font-size: 24px;
	
}

h1,h2,h3,h4,h5,ol,ul,p { 
	margin: 1em 10px; 
}

p {
	line-height: 1.25;
}

li, p {
	font-size: 16px;
}

ul {
	padding: 0 1em;
}



/*HEADER CSS*/

h1 {
	font-family: 'Georgia', 'Times', serif;
}

#logo {
	font-size: 32px;
	font-weight: 400;
}

a {
	color: #050505;
	text-decoration: none;
}

#contact-information a {
	text-decoration: underline;
}



/*CONTENT*/

#content {
	display: flex;
	flex-wrap: wrap;
}

.content-section {
	width: 100%;
}

.content-date {
	font-family: 'Lato', sans-serif;
}

span, .content-title, .content-subtitle {
	font-weight: 600;
}


/* MEDIQ QUERIES */

@media screen and (min-width: 500px) {
	.header {
		display: flex;
		flex-wrap: wrap;
	}
	#branding_and_navigation, #contact-information {
		width: 50%;
	}

	#contact-information {
		text-align: right;
	}
}
